/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */ 

html,body,div,span,app
let,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,bi
g,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var
,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody
,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,foo
ter,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{b
order:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0
}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:no
ne}blockquote:before,blockquote:after,q:before,q:after{content:none}table
{border-collapse:collapse;border-spacing:0}



/*
=================================================
	Clear Fix
=================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



/*
=================================================
	Universal/Body Styles
=================================================
*/

html {
	font-family: 'Droid Sans', sans-serif;	
	box-sizing: border-box;
}

body {
	width: 100%;
	border: 1px solid black;
	min-width: 920px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



/*
=================================================
	Button Styles
=================================================
*/

.btn {
	border-radius: 5px;
	padding: 10px 30px;
	border: 1px solid black;
}



/*
=================================================
	Primary Header Styles
=================================================
*/

.primary-header {
	background-color: #fff;
	color: black;
}

.primary-header h1, 
.primary-header h4, 
.primary-header nav {

}

.primary-header h1 {
	/* TODO - Change Font; Make it look less designer-ish and more serious */
	/* TODO - Find colors for nav, hero, and footer. Decide a color theme */
	/* TODO - Decide on whether .top-right phone number should be centered, or kept left */
	/* TODO - Fix footer positioning, get left columns closer */
	/* TODO - Fix line height on footer <li>'s */
	/* TODO - Get footer <h3> to be centered over nav columns */
	float: left;
	position: relative;
	margin: 0 35px;
	top: 45px;
	letter-spacing: .08em;
	font-size: 35px;
	padding: 0 5px 0 5px;
	text-transform: uppercase;
	font-weight: 200;
	z-index: 10;
	color: #000;
}

.primary-header .top-right {
	text-align: right;
	padding: 30px 45px 15px 0;
	text-transform: uppercase;

}

.primary-nav {
	padding-right: 45px;
	padding-bottom: 10px;
	text-align: right;
}

.primary-nav li {
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
}



/*
=================================================
	Hero Styles
=================================================
*/

.hero {
	width: 100%;
	height: 500px;
	background-color: #fff;
	text-align: center;
	position: relative;
	border: 1px solid green;
}

.vertical-center {
  top: 50%;
  position: absolute;
  height: 180px;
  top: calc(50% - 90px);
  width: 100%;
}

.hero h1 {
	font-size: 30px;
	font-weight: 400;
	vertical-align: middle;
}

.hero h1,
.hero p,
.hero a {
	vertical-align: middle;
	margin-bottom: 20px;
}

.hero h1,
.hero p {
	margin-right: 35px;
	margin-left: 35px;
	padding: 5px;
}

.hero p {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}

.hero .btn {
	border: 1px solid black;
	padding: 10px 30px;
	display: inline-block;
}



/*
=================================================
	Grid Styles
=================================================
*/

.col-1-3 {
	width: 33%;
	display: inline-block;
	padding: 0 35px;
	border-right: 1px solid black;
	vertical-align: top;
	margin-bottom: 50px;
	text-align: center;
}

.col-1-3 h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid green;
	margin-bottom: 15px;
	margin-top: 30px;
}

.col-1-3 p {
	margin-bottom: 30px;
	padding: 10px;
}

.col-1-3 .btn {
	vertical-align: bottom;
}



/*
=================================================
	Footer Styles
=================================================
*/

footer {
	background-color: #fff;
}

.column {
	/* border: 1px solid black; */
	display: inline-block;
	vertical-align: top;
	list-style: none;
	padding: 5px;
	margin-top: 5px;
}

.footerCol-1,
.footerCol-2 {
	width: 30%;

}

.footerCol-1 h3,
.footerCol-2 h3 {
	padding: 5px 10px 15px 10px;
	border-bottom: 1px solid green;
	display: inline-block;
	text-align: center;
	margin: 10px auto;
}

.footerCol-3 {
	width: 40%;
	line-height: 30px;
}

.footerContact {
	text-transform: uppercase;
}

.footer-nav {
	border: 1px solid black;
}

.footerLogo {
	padding: 0 10px 20px 10px;
}

#copyright {
	text-align: right;
	font-size: small;
	border: 1px solid black;
}
